body
{
	background-color: #8c8c8c; 
	font-family: Arial, Verdana, "sans-serif";
	font-size: 16px;

}

h1
{
	background-color: lightgrey;
	text-align: center;
	text-decoration: underline;
}
p
{
	font-family: Roboto, Arial, sans-serif;
	font-size: 15px;
}

input, textarea
{
	border-color: black;
	border: solid;
}

.image
{
	border-style: solid;
	border-radius: 3px;
	border-width: 5px;
	border-color: brown;
	width: 240px;
	height: 280px;
	position: relative;
	top: center;
	left: 40%;
}

.page
{
	border-style: solid;
	border-radius: 3px;
	border-color: white;
	border-width: 4px;
	width: 180px;
	height: 280px;
	position: relative;
	top: center;
	left: 42.5%;
}

#form
{
	font-style: italic;
}

#thankyou
{
	border-style: solid;
	border-color: black;
	width: 300px;
	height: 180px;
}

ul.a
{
	list-style-type:none;
	margin:0;
	padding:0;
	overflow:hidden;
	background-color:#F3790D;
	float:left;
}
